
<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
   <input 
   #query
   (keyup)="filter(query.value)" 
   type="text" class="form-control" placeholder="Search..."> 
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" sortable="title" (sort)="onSort($event)">Title</th>
            <th scope="col" sortable="price" (sort)="onSort($event)">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of filteredProducts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <td>{{ p.title }}</td>
          <td>{{ p.price }} </td>
          <td>
              <a [routerLink]="['/admin/products/', p.key]">Edit</a>
          </td>
      </tr>  
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>
  
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
      <option [ngValue]="collectionSize">All Items</option>
    </select>
  </div>